@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p> note to self : call some law degree student on this</p>

    <p>¯\_(ツ)_/¯</p>
</div>